---
layout: menu-page
title: 简介
permalink: about:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{ relativebase }}/assets/img/info/zyc.jpg" alt="zyc"></a>
      </div>
      <h3>zyc</h3>
      <p class="subtitle">五道口技校螺丝钉</p>
      <p class="subtitle">邮箱：yichong-23@mails.tsinghua.edu.cn</p>
  </div> <!-- End About Container -->
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{ relativebase }}/assets/img/info/qxz.jpg" alt="qxz"></a>
      </div>
      <h3>qxz</h3>
      <p class="subtitle">天命打工人</p>
      <p class="subtitle">邮箱：qxz1026@connect.hku.hk</p>
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
