<div class="search-box">
  <div class="wrapper">
    <div class="search-grid">
      <form class="search-form">
        <div id="search-container">
          <input type="text" id="search-input" class="search" placeholder="搜索">
        </div>
      </form>
      <ul id="results-container" class="results-search"></ul>
      <div class="icon-close-container">
        <span class="search-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>

<script>
  // 检测是否为iPhone
  function isIPhone() {
    return /iPhone/.test(navigator.userAgent);
  }
  // 检测是否为iPad
  function isIPad() {
    return /iPad/.test(navigator.userAgent) || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1);
  }
  window.onload = function() {
    if (isIPhone()) {
      document.getElementById('search-input').placeholder = '当前iOS设备本站暂不支持';
    } else if (isIPad()) {
      document.getElementById('search-input').placeholder = '当前为iPadOS设备，本站暂不支持搜索';
    }
  }
</script>
