---
layout: default
---
<div class="flex-container transparent">
  {% include header.html %}
  <div class="content wrapper">
    <h3>项目招新啦！！</h3>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们是一群来自清华大学、香港大学和复旦大学等高校的在读大学生，希望通过这个项目邀请各行业一线从业者分享职业内容和职业生活，从大学生的视角，提供全面、高效获取职业信息的渠道。目前项目已经完成了对知名高校、企业和研究所工作人员的多篇采访，涉及AI、计算机、半导体、会计、建筑等行业和领域。已完成对知名高校、企业和研究所工作人员的多篇采访，涉及AI、计算机、半导体、会计、建筑等行业。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你对这个项目感兴趣，欢迎加入我们，一起拓展采访领域、提高采访质量，也欢迎提出改进建议，或是帮助宣传。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;核心组成员的联系方式可在左侧菜单中“关于我们”一栏找到
    </p>
    {{ content }}
    {% include search.html %}
    {% include pagination.html %}
    <div class="center-tags">
      {% include get-site-tags.html %}
      {% include tag_cloud.html %}
    </div>
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div><!-- End flex-container -->