---
layout: default
---
<div class="flex-container transparent">
  {% include header.html %}
  <div class="content wrapper">
    <h4>项目介绍</h4>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到职业杂谈项目！我们是32位来自知名高校的大学生，希望通过对各行各业从业者的一线采访帮助大家快速建立职业认知，实现从0到1的突破。我们从大学生视角出发，聚焦于真实的职业生活，或许讲述嘉宾走上这条职业道路背后的故事，或许给出他们视角中的职业发展建议。我们希望帮助大家了解到更多真实的职业路径，职业选择，看到人生不一样的风景，不拘泥于墨守陈规的，永远“正确”的人生选择题。<br>
      
    </p>
    
    {{ content }}
    {% include search.html %}
    {% include pagination.html %}
    <div class="center-tags">
      {% include get-site-tags.html %}
      {% include tag_cloud.html %}
    </div>
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div><!-- End flex-container -->