---
layout: default
---
<div class="flex-container transparent">
  {% include header.html %}
  <div class="content wrapper">
    <h1>项目招新啦！！</h1>
    <p>
    项目内容: 邀请各行业一线从业者分享职业内容和职业生活<br>
    项目理念: 从大学生的视角，提供全面、高效获取职业信息的渠道<br>
    目前成员: 清华大学、香港大学、复旦大学等高校的在读大学生<br>
    目前进展: 已完成对知名高校、企业和研究所工作人员的多篇采访<br>
    涉及领域: 目前覆盖 AI、计算机、半导体、会计、建筑等行业<br>
    我们希望: 收获更多元的采访内容，迎接不同专业背景同学的加入，一起把项目做的更全面
    </p>
    {{ content }}
    {% include search.html %}
    {% include pagination.html %}
    <div class="center-tags">
      {% include get-site-tags.html %}
      {% include tag_cloud.html %}
    </div>
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div><!-- End flex-container -->